papers/*
slides/*
recombination/
titer-analysis/png/
frequencies/flu/
scripts/frequencies/scratchwork/
manuscript/\.latex/
manuscript/\.latex\.json

dengue-antigenic-evolution.pdf
*draft*

*.fasta
*.trees
*.ipynb_checkpoints
.dropbox
.DS_Store
environment*
*.p
\.Icon
\.swp
\.Icon
\.swp
Icon?

# LaTeX intermediaries #
########################
*.aux
*.log
*.bbl
*.blg
*.out
*.pdfsync

manuscript/template\.tex

*.gz

*.fls

*.fdb_latexmk

raw-titer-analysis/png/
