data/*
papers/*
slides/*
recombination/
titer-analysis/png/
scripts/frequencies/scratchwork/
manuscript/\.latex/
manuscript/\.latex\.json

dengue-antigenic-evolution.pdf

*.fasta
*.trees
*.ipynb_checkpoints
.dropbox
.DS_Store
environment*
*.p
\.Icon
\.swp
\.Icon\.swp

# LaTeX intermediaries #
########################
*.aux
*.log
*.bbl
*.blg
*.out
*.pdfsync
