data/*
papers/*
slides/*
*.fasta
*.trees
*.ipynb_checkpoints
.dropbox

*.p

\.Icon
\.swp
\.Icon\.swp
recombination/

titer-analysis/png/

scripts/frequencies/scratchwork/

manuscript/\.latex/

manuscript/\.latex\.json
